
<%- include('partials/header.ejs') %>

    <h1>hey <%= name %></h1>

    <% if(session && session.adminMessage) { %>
        <%= session.adminMessage %>
        <% session.adminMessage = null %>
    <% } %>

    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple>
        <button type="submit">Upload</button>
        question : <input type="text" id="question" name="question" required>
        </form>
    </div>

    <form action="/logout?_method=DELETE" method="POST">
        <button id="logout" name="logout" type="submit">Logout</button>
    </form>

    <div>
        <form action="/viewData" method="post"></form>

            <% if(session.data)

    </div>
<%- include('partials/footer.ejs') %>