
<%- include('partials/header.ejs') %>

<nav class="deep-purple darken-3">
    <div class="container">
    <div class="nav-wrapper" style="padding-left:2.5em;padding-right:2.5em">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo left"><i class="fa fa-user "></i><%= name.substring(0,30) %></a>
      <ul class="hide-on-med-and-down right">
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button id="logout1" name="logout" class = "noStyleButton" style="font-size:1.5em; padding-left:1em" type="submit"><i class="fa fa-sign-out" > Logout </i></button>
                </form>
            </li>
      </ul>
    </div>
</div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li>
            <form action="/logout?_method=DELETE" method="POST">
                <button id="logout" name="logout" class = "noStyleButton" style="font-size:1.5em; padding-left:2em" type="submit"> <b> Logout </b></button>
            </form>
        </li>
  </ul>

    <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="row valign-wrapper"
    style="  display: flex;
    position: relative;
    margin-top: 5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;">
        <div style="margin: 0 auto;" class="col s12 m6">
          <div class="card blue-grey darken-4" style="border-radius: 10px;">
            <div class="card-content white-text">
                <div class="file-field input-field">
                    <div class="btn deep-purple darken-3">
                      <span><i class=" fa fa-upload "></i>  File</span>
                      <input type="file" name="files" id="files" multiple >
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate grey-text text-lighten-3" type="text">
                    </div>
                  </div>
              <span class="card-title">Question:</span>
              <div class="input-field">
              <i class="fa fa-question-circle prefix"></i>
              <input type="text" class="materialize-textarea grey-text text-lighten-3" id="question" name="question" required>

                <% if(session && session.adminMessage) { %>

                    <p style="margin-top:2em"class="grey-text text-lighten-3"><b><%= session.adminMessage %></b></p>
                    <% session.adminMessage = null %>
                <% } %>
              </div>
            </div>
            <div class="card-action center-align ">
                <button class="waves-effect waves-light btn-large deep-purple darken-3" type="submit"><i class="fa fa-cloud-upload left"></i> Upload</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- <div>


        <input type="file" name="files" id="files" multiple>


    </div> -->

</div>
<%- include('partials/footer.ejs') %>