<h1>Login</h1>
<% if(messages && messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login/user" method="GET">
    <button type="submit">User Login</button>
</form>

<form action="/login/admin" method="GET">
    <button type="submit">Admin Login</button>
</form>
  <a href="/register">Register</a>